
.slider {
    position: relative;
    background: #000116;
    width: 100%;
    height: 750px;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

    .slider .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 0 50%);
    }

        .slider .slide.active {
            clip-path: circle(150% at 0 50%);
            transition: 2s;
        }

        .slider .slide img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

.navigation {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    opacity: 0;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn, .next-btn {
    z-index: 1;
    color: #222;
    /* background: rgba(255, 255, 255, 0.8); */
    background: rgba(250, 195, 222, 0.74);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 1;
    display: flex;
    justify-content: center;
}

    .navigation-visibility .slide-icon {
        z-index: 1;
        background: rgba(255, 255, 255, 0.5);
        width: 10px;
        height: 10px;
        transform: translateY(-50px);
        margin: 0 6px;
        border-radius: 50%;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

        .navigation-visibility .slide-icon.active {
            background: rgb(238, 54, 125);
        }

@media (max-width: 900px) {
    /* .slider {
        width: 100%;
    } */
}

.searching {
    display: flex;
    width: 300px;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 5px;
    margin-top: -12px;
    align-items: center;
    border: 1px solid;
    margin-right: 10px;
}

.searching-input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 5px;
}

.button-register {
    display: flex;
    height: 40px;
    margin-top: -12px;
}

.button-register_click {
    background-color: var(--primary-color);
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(124, 123, 123);
}

    .button-register_click:hover {
        background-color: rgb(85, 200, 253);
    }

.button-register_icon {
    font-size: 1.5rem;
    margin-right: 5px;
}

.button-register_text {
    font-size: 1.5rem;
    text-decoration: none;
}

.table-case {
    padding-top: 20px;
}

table {
    position: relative;
    background: #000116;
    width: 100%;
    height: 50px;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

td, th {
    padding: 15px 20px;
    text-align: center;
}

th {
    /* background-color: #f9feff; */
    color: #000000;
    font-family: 'Open Sans',Sans-serif;
    /* font-weight: 200; */
    text-transform: uppercase;
    font-size: 15px;
}

td {
    font-size: 14px;
}

/* td {
    background-color: #f9feff;
}

th:hover {
    background-color: #fffafa;
}

td:hover {
    background-color: #fffafa;
} */

tr {
    width: 100%;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* tr:nth-child(even){
    background-color: #ffff;
   } */

.about_us_link {
    font-size: 1.5rem;
    font-weight: bold;
}

    .about_us_link:hover {
        font-size: 1.5rem;
        font-weight: bold;
        color: #d0e9ee;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 59px;
    right: 20px;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-size: 1.4rem;
    }

        .dropdown-content a:hover {
            background-color: #eeeeee;
        }

.show {
    display: block;
}
