@model THTMDT.Models.AD

@{
    ViewBag.Title = "DangNhapAdmin";
    Layout = "~/Views/Shared/Dangnhap.cshtml";
}

<div class="app-login" style=" background-image: linear-gradient(90deg, #565356 5%, #0d0b0e 100%);">

    <div class="background-left col l-6">
        <img src="~/Content/img-slider/background-login.png" alt="" />

    </div>

    <div class="main col l-6">
        @using (Html.BeginForm("DangNhapAdmin", "DangNhap", FormMethod.Post, new { @action = "", @method = "POST", @class = "form", @id = "form-2", role = "form" }))
        {
            <h3 class="heading">Đăng nhập</h3>
            <p class="desc"></p>

            <div class="spacer"></div>

            <div class="form-group">
                <label for="email" class="form-label">Tên đăng nhập</label>
                @Html.TextBoxFor(m => m.Email, new { @id = "email", @name = "email", @type = "text", @placeholder = "TFT@gmail.com", @class = "form-control", @required = true })
                <span class="form-message"></span>
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Mật khẩu</label>
                @Html.PasswordFor(m => m.Pass, new { @id = "password", @name = "password", @type = "password", @placeholder = "Nhập mật khẩu", @class = "form-control", @required = true })
                <span class="form-message"></span>
            </div>
            <p style="color:red;text-align:center">
                @if (ViewBag.error != null)
                {@ViewBag.error}
            </p>

            <button type="submit" class="form-submit">Đăng nhập</button>

        }

    </div>
</div>

